<!DOCTYPE html>
<html lang="en-us">
       <head>
              <meta charset="utf-8" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0" />
              <title>Cheap YouTube</title>
              <link rel="stylesheet" href="/CSS/style.css" />
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       </head>
       <body>
              <header>
                     <h2>Cheap YouTube</h2>
                     <form class="addForm">
                            <input type="text" placeholder="URL..." />
                            <button type="submit" class="submitButton">Add</button>
                     </form>
              </header>
              <section class="video">
                     <div class="player"></div>
                     <div class="title"></div>
                     <div class="channelName"></div>
              </section>
              <aside>
                     <div class="extraVidHeader">
                            <span>More Videos</span>
                            <!-- Add a different symbol -->
                            <a href="#" ><i class="fa fa-plus"></i></a>
                     </div>
                     <div class="extraVidBody"></div>
              </aside>
              <script src="/Scripts/script.js" type="module"></script>
       </body>
</html>
